<ion-container [fullscreen]="true">
   <swiper-container 
    [slidesPerView]="1"
    [loop]="true" 
    effect="flip" 
    pagination="true"
    [autoplay]="{ delay: 4000, disableOnInteraction: false }">
  <swiper-slide>
    <img src="./../../assets/banner.jpg" alt="img promoção"/>
  </swiper-slide>
  <swiper-slide>
    <img src="./../../assets/banner1.jpg" alt="img promoção"/>
  </swiper-slide>
  <swiper-slide>
    <img src="./../../assets/banner2.jpg" alt="img promoção"/>
  </swiper-slide>
</swiper-container>
</ion-container>